.content__data {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  margin-top: 40px;
}
.items {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.item__body {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: 30px;
  padding: 40px;
}
.item__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.item {
  list-style: none;
  background-color: aquamarine;
  /* justify-content: space-between; */
  /* padding: 10px; */
  border-radius: 5px;
}
.right__butttons {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  align-items: center;
  padding-top: 30px;

  justify-content: start;
}
.right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-gap: 5px;
}
.right__update {
  background-color: green;
  color: white;
  display: block;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  font-size: 24px;
}
.right__remove {
  cursor: pointer;
  padding: 5px;
  display: block;
  background-color: brown;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 24px;
}
.right__edit {
  cursor: pointer;
  padding: 5px;
  display: block;
  background-color: rgb(254, 222, 14);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 24px;
}
.add-button {
  cursor: pointer;
  background-color: rgb(38, 252, 0);
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 24px;
  width: max-content;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  grid-gap: 10px;
}
.item__li {
  display: flex;
  flex-direction: column;

  padding-bottom: 5px;
  border-bottom: 1px dashed red;
  grid-gap: 5px;
}
.item__li label {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
